<html lang="pt-br">
    <head>
        <meta charset="utf-8"/>
        <title>Nova mensagem</title>
    </head>
    <h1>Mensagem</h1>
    <form method="post" action="/novamsg/sent">
        Nome: <input type="text" name="name_msg"/>
        Msg: <input type="text" name="msg"/>
        <input type="submit" value="Enviar">
    </form>
</html>