<html>
    <head>
        <meta charset="utf-8">
        <title>Soccershop</title>
    </head>
    <body>
        
        <h1>Produtos</h1>
        
        <% for(i =0; i<dados.length; i++){ %>
            <p><%= dados[i].name_product %></p>
        <% } %>
        
    </body>
</html>
